<h2> I bims der Dummy Mann</h2>
{% schema %}
{
  "name": "Dummy Content Section X1",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Überschrift"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Inhalt"
    }
  ],
  "presets": [
    {
      "name": "Dummy Content Section X2"
    }
  ]
}
{% endschema %}
